@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
 

*{
  box-sizing: border-box;
}

body {
  background-color: #17223b;
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.movie{
  background-color: #263859;
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img{
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: #fff;
  color: #17223b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

header{
  display: flex;
  background-color: #263859;
  padding: 1rem;
  justify-content:space-between;
}

.search{
  border: 2px solid #17223b;
  background-color: transparent;
  color: aliceblue;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  font-family: inherit;
  font-size: 1.2rem;
}

.search:focus{
  outline: 0;
}

.tag{
  background-color: #17223b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green{
color: rgb(9, 243, 9);
}

.tag.orange{
  color: rgb(255, 182, 47);
}

.tag.red{
  color: red;
}

.textcenter{
  text-align: center;
}